{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<header class="header row g-0">

    <div class="col-3">
        {{> logo}}
    </div>

    <nav class="header_nav col-9">
        <div class="header_nav_right">
            {{> nav list=header}}
        </div>            
    </nav>
    
</header>

<main class="main">
    {{#with info}}
        <div class="info">
            <h1 class="info_title">{{title}}</h1>
            <p class="info_d">{{description}}</p>
        </div>
    {{/with}}

    {{#with form}}
        <form class="form">

            <div class="form_input_list">
                {{#each inputs}}
                    <input type="{{type}}" placeholder="{{placeholder}}" class="form_input" name="{{name}}" id="form-input-{{id}}" / >
                {{/each}}
            </div>

            <div class="form_checkbox">
                <input type="checkbox" name="{{checkbox.name}}" id="{{checkbox.name}}" >
                <div></div> 
                <label for="{{checkbox.name}}">{{checkbox.label}}</label>
            </div>

             <button type="submit" class="form_button">{{button}}</button>

             {{> divider}}

            <p class="form_info">{{info}}</p>
        </form>
    {{/with}}
</main>

<div class="updates">
    {{#with updates}}
    <h3 class="title_updates">{{title}}</h3>
    <div class="holder">
        {{!-- <div class="vector">32x32</div> --}}
        {{#each list}}
            
            <div class="list"> 
                <div class="list_icon">
                    <span class="icon">32x32</span>
                </div>
                
            
                <div class="box">
                    <p class="box_user">@{{nickname}}</strong>
                    <p class="box_description">{{description}}</p>
                </div>
                
            </div>

        {{/each}}
    </div>
    

        {{#with show_all}}
            <a href="{{url}}" class="show">{{text}}</a>
        {{/with}}

    {{/with}}
</div>

<div class="expirience">
    {{#with expirience}}
        
        <h2 class="expirience_title">{{title}}</h2>
        <badge class="badge_expirience">{{badge}}</badge>
        <div class="forms">       
            {{#each list}}
                <div class="msg">
                    <div class="msg_name">{{name}}</div>
                    <div class="msg_details">{{details}}</div>
                </div>  
            {{/each}}
        </div>
    {{/with}}
</div>
    

<footer class="row g-0 footer">

    <div class="col-3">
        {{> logo}}
        <span class="footer_copyright">Copyright 2023-2024</span>
    </div>

    {{#each footer}}
        <div class="col-3">
            <span class="footer_title">{{title}}</span>

            {{> nav list=links isVertical=true}}
        </div>
    {{/each}}

</footer> 
      


{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}
